# ============================================================
# BotWap — Configuración de Ansible (Fase 7C-2)
# ============================================================

[defaults]
inventory = hosts.ini
remote_user = azureadmin
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
